/* SearchBar.css */

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Ajusta el margen superior según tus preferencias */
  }
  
  input {
    padding: 12px 20px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 30px;
    margin-right: 8px;
    width: 400px; /* Ajusta el ancho según tus preferencias */
    max-width: 100%;
  }
  
  button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  