/* SearchBar.css */

.form-sb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px; /* Ajusta el margen superior según tus preferencias */
  }
  
  .input-sb {
    padding: 12px 20px;
    font-size: 18px;
    border: 2px solid #007bff;
    width: 400px; /* Ajusta el ancho según tus preferencias */
    max-width: 100%;
  }
  
  .button-sb {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #8400ff;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .button-sb:hover {
    background-color: #0056b3;
  }
  